.additional-products {
  position: relative;
  z-index: 0;
  padding-top: 25px;


  &::before {
    content: "";
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    z-index: -1;
    height: 2px;
    background-color: $primary-background-color-accent;
  }
}

.additional-products__heading {
  @include title($basic-color-text-dark, $secondary-font-family, 24px, 24px, 400);
  margin: 0;
  margin-left: -20px;
  margin-bottom: 35px;
  padding: 0 20px;
  padding-right: 41px;
  justify-self: start;
  background-color: $primary-background-color-light;
}

.additional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.additional-products__inner {
  display: grid;

  @media (min-width: $desktop-screen-width) {
    grid-template-columns: 1fr 245px;
    column-gap: 81px;
  }
}
