.product__heading {
  @include title($special-color-text-dark, $secondary-font-family, 16px, 20px, 400);
  text-transform: uppercase;
}

.product__link {
  text-decoration: none;
}

.product__description {
  font-size: 12px;
  line-height: 16px;
}

.product__text {
  color: $primary-color-text-dark;
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 16px;
}
